*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
android-app/.idea/
android-app/.gradle/
android-app/build/
android-app/.transforms/
android-app/out/
server/.idea/
server/.gradle/
server/build/
server/.transforms/
server/out/
shared/.idea/
shared/.gradle/
shared/build/
shared/.transforms/
shared/out/